
    <%- include("includes/header.ejs") %>

    <div id="bodyContainer">

        <p class="emptyCartItem">404 Page Not Found</p>

    </div>
    
    
    <%- include("includes/footer.ejs") %>

</body>
</html>